@font-face {
    font-family: Blackadder;
    src: url("BITCBLKAD.ttf");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;  
}

header {
    padding: 10px;
    text-align: left;
    background: rgb(188, 26, 26);
    color: rgb(1, 0, 0);
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: Blackadder;
}

#title h1 {
    font-size: xx-large;
}

ul{
    list-style: none;
}

#liens nav ul li a{
    font-size: x-large;
    color: #000000;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}


#liens nav ul li a:hover {
    color:orange;
}
body{
    background-color: black;
    color: #ff0000;
}

.homepage {
    padding: 50px;
    text-align: left;
    background: rgb(0, 0, 0);
    color: rgb(152, 100, 100);
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:content;
}

img {
    width:300px;
    height: 200px;
}

#popularforum h1{
    
    text-align:right;
    font-size: x-large;
    color: #ff0000;
    background: rgb(154, 105, 105);
    padding: 10px;
    border:10px;
}

.hero {
    display: flex;
    flex-direction: row;
}
.forum {
    display: grid; justify-content: center;
}

.popularforum table thead{
    width: 2;
}

